body {
    text-align: center;
}

button {
    color: white;
    border: none;
    border-radius: 0.2rem;
    padding: 0.75em;
    margin: .1rem;
    cursor: pointer;
}

button#ja {
    background-color: green;
}
button#ja:hover {
    -webkit-box-shadow: 0 0 5px 0 rgba(0,128,0,0.75);
    -moz-box-shadow: 0 0 5px 0 rgba(0,128,0,0.75);
    box-shadow: 0 0 5px 0 rgba(0,128,0,0.75);
}

button#nein {
    background-color: red;
}
button#nein:hover {
    -webkit-box-shadow: 0 0 5px 0 rgba(255,0,0,0.75);
    -moz-box-shadow: 0 0 5px 0 rgba(255,0,0,0.75);
    box-shadow: 0 0 5px 0 rgba(255,0,0,0.75);
}
